.DS_Store
reference_to_delete
reference_to_delete/*
zas_portfolio_env
.env
app/__pycache__
__pycache__
*zs_app
working_nginx.txt
lists.py
new_nginx.txt
subscribers_list.csv
subscribers_list.numbers
instance/site.db
instance
tests
tests/*
config.py
app/mail/routes_old.py
cut_out_items.txt
to_remove
supervisor/*
zsdynamics.supervisor.conf
supervisor/
supervisor/zsdynamics.supervisor.conf
old_requirements.txt
venv