{% extends "layout.html" %}
{% block og_url %}
<meta property="og:url" content="https://www.zsdynamics.com/home">
{% endblock %}

{% block content %}

<div class="container">
    
    <div class="row">
        <div class="col">
            <img src="../../static/images/403_icon.jpeg" alt="403 error">
        </div>
        <div class="col">
            <h1 class="text-center display-1">You Don't Have Permission To Do That (403)</h1>
            <h5 class="display-6">Please check the url and try again.</h5>
        </div>
    </div>
</div>



{% endblock %}