{% extends "layout.html" %}
{% block og_url %}
<meta property="og:url" content="https://www.zsdynamics.com/home">
{% endblock %}
{% block content %}

<div class="container">
    
    <div class="row">
        <div class="col">
            <img src="../../static/images/404_icon.jpeg" alt="404 error">
        </div>
        <div class="col">
            <h1 class="text-center display-1">Oops. Page Not Found (404)</h1>
            <h5 class="display-6">That page does not exist. Please try a different location</h5>
        </div>
    </div>
</div>

{% endblock %}