{% extends "mail/mail_layout.html" %}

{% block mailcontent %}
<div>
    <h3>Introduction</h3>
    <ul>
        <li>Briefly introduce yourself and your newsletter</li>
        <li>Explain the purpose of your newsletter (to keep readers up-to-date on the latest news and
            developments in science and technology)</li>
    </ul>
    <h3>
        Headlines
    </h3>
    <ul>
        <li>
            Highlight the most important and exciting news stories related to science and technology from the
            past week or month
        </li>
        <li>
            Include links to the full articles for readers who want to learn more
        </li>
    </ul>

    <h3>
        In-depth feature
    </h3>
    <ul>
        <li>
            Choose one topic related to science and technology and provide a more detailed analysis or exploration of it
        </li>
        <li>
            This could be a new discovery, a trend in technology, or an issue related to science policy
        </li>
    </ul>

    <h3>
        Research highlights
    </h3>
    <ul>
        <li>
            Summarize recent research studies related to science and technology
        </li>
        <li>
            Provide a brief overview of the research, its findings, and its implications
        </li>
    </ul>
    <h3>
        Spotlight on innovation
    </h3>
    <ul>
        <li>
            Highlight a company, product, or individual that is making a significant impact in the world of science and
            technology
        </li>
        <li>
            Provide background information, key accomplishments, and future plans
        </li>
    </ul>

    <h3>
        Events and opportunities
    </h3>
    <ul>
        <li>
            Highlight upcoming events related to science and technology, such as conferences or webinars
        </li>
        <li>
            Provide information on any opportunities for readers to get involved in scientific research or projects
        </li>
    </ul>
    <h3>
        Closing
    </h3>
    <ul>
        <li>
            Thank readers for subscribing to your newsletter
        </li>
        <li>
            Invite them to provide feedback or suggest topics they would like to see covered in future issues
        </li>
    </ul>
</div>

{% endblock %}

{% block ctacontent %}

{{ call_to_action("cta_title", "cta_body", "cta", "cta_href") }}

{% endblock %}