{% extends "mail/mail_layout.html" %}

{% block mailcontent %}
<div>
            <h1>
                Hello {{ person.name }},
            </h1>
            <p>
                Thank you for taking the time to reach out to me. I'm excited to hear from you and I appreciate your
                interest in my work.
                <br>
                <br>
                I'm looking forward to learning more about your project or inquiry. Please let me know if you have any
                specific questions or concerns that you would like me to address. If you have a deadline, please let me
                know
                as well so that I can make sure to prioritize your request.
                <br>
                <br>
                In the meantime, feel free to explore my <a href="https://www.zsdynamics.com/portfolio">portfolio</a>
                 and learn more about my <a href="https://www.zsdynamics.com/about">skills</a> and <a href="https://www.zsdynamics.com/home"> experience.</a> If you
                have any other questions, don't hesitate to ask.
                <br>
                <br>
                Thank you again for your interest in my work. I'll be in touch soon.
                <br>
                <br>
                Best regards,
                <br>
                Zachary Sturman
            </p>
            <br>
        </div>
    </div>
{% endblock %}

{% block ctacontent %}


    {% if person.subscribed == True %}

    {% set title %}
    Curious but don't know where to start?
    {% endset %}
    
    
    {% set body %}
    If you're like me then there are a lot of things that interest you. Probably too many things. So many things that you don't know where to start.
    <br>
    <br>
    That's where I can help.
    <br>
    <br>
    I've created a "spin the globe, close your eyes, stop with your finger" kind of app that gets you to a good starting point on your journey to squelch the "-but why?" voice in your head.
    
    
    
    {% endset %}
    
    
    {% set cta %}
    Find The Answers
    
    {% endset %}
    
    {% set href %}
    "https://www.zsdynamics.com"
    {% endset %}
    
    
    {{ call_to_action(title, body, cta, href) }}
    
    
    
    
    {% else %}

    {% set title %}
    Expand your horizons, challenge your beliefs, leave me on 'unread'
    {% endset %}

    {% set body %}
    Ignite your passion for discovery and subscribe to ZSDynamics. 
    <br>
    Stay informed with the latest scientific breakthroughs and tech news while learning new skills and gaining experience.

    {% endset %}

        {{ call_to_action(title, body, "Subscribe Here", subscribe_link) }}


    {% endif %}

{% endblock %}