{% extends "mail/mail_layout.html" %}

{% block mailcontent %}
<div>
            <h1>
                Hi {{ person.name }},
            </h1>
            <p>
                Thank you for taking the time to reach out to me. I'm excited to hear from you and I appreciate your
                interest in my work.
                <br>
                <br>
                I'm looking forward to learning more about your project or inquiry. Please let me know if you have any
                specific questions or concerns that you would like me to address. If you have a deadline, please let me
                know
                as well so that I can make sure to prioritize your request.
                <br>
                <br>
                In the meantime, feel free to explore my <a href="https://www.zsdynamics.com/portfolio">portfolio</a>
                 and learn more about my <a href="https://www.zsdynamics.com/about">skills</a> and <a href="https://www.zsdynamics.com/home"> experience.</a> If you
                have any other questions, don't hesitate to ask.
                <br>
                <br>
                Thank you again for your interest in my work. I'll be in touch soon.
                <br>
                <br>
                Best regards,
                <br>
                Zachary Sturman
            </p>
            <br>
        </div>
    </div>
{% endblock %}