<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for reaching out!</title>

</head>

<body style="margin:5vw;">
    <div style="border-left: 3px solid rgb(209, 240, 246); border-right: 3px solid rgb(209, 240, 246); padding: 20px;">
        <div>
            <!-- header -->
            <p>Check out ZSDynamics page</p>
            <span>
                <a href="https://www.zsdynamics.com/home">Home</a>
                <a href="https://www.zsdynamics.com/about">About</a>
                <a href="https://www.zsdynamics.com/portfolio">Portfolio</a>
            </span>
            <h4 style="text-align: end; opacity: .5;"><em>"From data chaos to strategic clarity"</em></h4>
            <hr>
        </div>
        <div>
            <h1 style="background-color: rgb(94, 125, 173); color: rgb(208, 208, 208)">
                Thanks for reaching out!
            </h1>
            <h2>
                Hello {{ name }},
            </h2>
            <p>
                Thank you for taking the time to reach out to me. I'm excited to hear from you and I appreciate your
                interest in my work.
            </p>
            <p>
                I'm looking forward to learning more about your project or inquiry. Please let me know if you have any
                specific questions or concerns that you would like me to address. If you have a deadline, please let me
                know
                as well so that I can make sure to prioritize your request.
            </p>
            <p>
                In the meantime, feel free to explore my portfolio and learn more about my skills and experience. If you
                have any other questions, don't hesitate to ask.
            </p>
            <p>
                Thank you again for your interest in my work. I'll be in touch soon.
            </p>
            <p>
                Best regards,
            </p>
            <p>
                Zachary Sturman
            </p>
            <br>
        </div>
        <div style="margin:auto; width: 50%; background-color: rgb(60, 110, 150); border-radius: 20px; padding: 5%;">
            <h1 style="color: rgb(233, 232, 210); text-align: center;"><em>Thanks for being subscribed!</em></h1>
            <hr style="color: white;">
            <a href="https://www.zsdynamics.com/newsletter">In case you missed it click here for the latest newsletter.</a>
         </div>
    </div>

    <a href="{{ url_for('zs_mail.unsubscribe', name=name, email=email, _external=True) }}">Unsubscribe</a>
</body>

</html>
