{% extends "mail/mail_layout.html" %}

{% block mailcontent %}

<style>
    .expect-bllt{
        font-size: 1.1rem;
    }
    .icon_cell{
        text-align: center;
    }
</style>

<div>
    <h1>
        Welcome {{ person.name }},
    </h1>
    <p>

        I am thrilled to have you join my community of curious minds. Thank you for subscribing to
        ZSDynamics!

        <br>
        <br>
        My name is Zachary, and I'm the one curating this newsletter for you. I'm delighted to share my passion for
        the world of science, history, math, technology, and anything else that piques my curiosity.
        </p>


 <br> 

 <hr>
 <br>

        <h2 style="font-weight: 100;">
        Here's what you can expect in your inbox:
    </h2>


    <table style="padding: 1rem;" width="100%" >
        <tr width="100">
            <td class="icon_cell">
                {% if testing_mail == True %}
                <img src="../../static/images/mail_science.png" alt="Mail Science">
                {% else %}
                <img src="cid:MailScience" alt="Science Icon">
                {% endif %}
            </td>
            <td>
                <p class="expect-bllt">
                Videos and articles that I discovered during my deep dives into the realms of data science, history,
                math, and technology.</p>
            </td>
        </tr>

        <tr>
            <td>
                {% if testing_mail == True %}
                <img src="../../static/images/mail_learn.png" alt="Mail Learn">
                {% else %}
                <img src="cid:MailLearn" alt="Learn Icon">
                {% endif %}
                
            </td>
            <td>
                <p class="expect-bllt">
                Knowledge in everything from how quantum entanglement works to the correct way to spell the word
                "pique".
                </p>

            </td>
        </tr>

        <tr>
            <td>
                {% if testing_mail == True %}
                <img src="../../static/images/mail_project.png" alt="Mail Project">
                {% else %}
                <img src="cid:MailProject" alt="Project Icon">
                {% endif %}
                

            </td>
            <td>
                <p class="expect-bllt">
                As I work on various projects, I'll keep you informed about my progress and milestones, giving you
                a behind-the-scenes look at what I'm up to and the technologies I'm using.
                </p>

            </td>
        </tr>
        <tr>
            <td>
                {% if testing_mail == True %}
                <img src="../../static/images/mail_flame.png" alt="Mail Flame">
                {% else %}
                <img src="cid:MailFlame" alt="Flame Icon">
                {% endif %}
                
            </td>
            <td>
                <p class="expect-bllt">
                The latest trends and breakthroughs in data science, machine learning, and artificial intelligence.
                </p>

            </td>
        </tr>
        <tr>
            <td>
                {% if testing_mail == True %}
                <img src="../../static/images/mail_tips.png" alt="Mail Tips">
                {% else %}
                <img src="cid:MailTips" alt="Tips Icon">
                {% endif %}

            </td>
            <td>
                <p class="expect-bllt">
                Practical tips and advice from a self-taught programmer who made a lot of mistakes starting out.
            </p>
            </td>
        </tr>
    
    </table>

      
</div>

<br>


<h5>If you're wanting to learn some cool stuff here is where I'd start:</h5>
<div class="section_break_1">
<table>
    <tr>
            <h3>Do You Want To Learn About Computers?</h3>
            <hr>
            <p style="font-size: 1rem;">This is perhaps the best series of videos for a person starting out to learn a little bit about all the main pieces of a computer.</p>
            <a class="helpful-link-1" href="https://www.youtube.com/watch?v=tpIctyqH29Q&list=PLH2l6uzC4UEW0s7-KewFLBC1D0l6XRfye">Crash Course Computer Science</a>
    </tr>
</table>
</div>
<div class="section_break_2">
<table>
    <tr>
            <h3>Curious About Evolution?</h3>
            <hr>
            <p style="font-size: 1rem;">It's hard to narrow this channel down to one single video series. If there is anything you want to know about the origin of our planet and the life on it then this is the channel for you.</p>
            <a class="helpful-link-2" href="https://www.youtube.com/watch?v=t6JIxPGXcs8&list=PLi6K9w_UbfFSxHPEDWcXxIxSA6gDR4OeZ">PBS Eons: Human Evolution</a>
    </tr>
</table>
</div>
<div class="section_break_1">
<table>
    <tr>
            <h3>What Is 'Reality'?</h3>
            <hr>
            <p style="font-size: 1rem;">This channel is more math heavy than the others but still finds a way to make everything from the cosmos to particle physics understandable.</p>
            <a class="helpful-link-2" href="https://www.youtube.com/watch?v=kixAljyfdqU&list=PLsPUh22kYmNBgF_VMMLHFK0lbQGlVGk3v">Space Time</a>
    </tr>
</table>
</div>


<div>






    <p style="margin-bottom: 0;">
        If you have any suggestions or questions, please feel free to reply to this email. 
    </p>
    <p style="font-size: 1rem; opacity: .5;"><em> - I'm just kind of guessing as I go along so feedback is always welcome.</em></p>

        
       

<br>

    <p>
        Once again, welcome to ZSDynamics. Thank you for being here and letting me take a little bit of your time.

        <br>
        <br>

        <p>
            Warm regards,
            <br>
            Zachary Sturman
        </p>
    </p>




</div>



{% endblock %}

{% block ctacontent %}

{% set title %}
Curious but don't know where to start?
{% endset %}


{% set body %}
If you're like me then there are a lot of things that interest you. Probably too many things. So many things that you don't know where to start.
<br>
<br>
That's where I can help.
<br>
<br>
I've created a "spin the globe, close your eyes, stop with your finger" kind of app that gets you to a good starting point on your journey to squelch the "-but why?" voice in your head.



{% endset %}


{% set cta %}
Find The Answers

{% endset %}

{% set href %}
learn_something
{% endset %}


{{ call_to_action(title, body, cta, href) }}

{% endblock %}