<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for reaching out!</title>

</head>

<body style="margin:5vw;">
    <div style="border-left: 3px solid rgb(209, 240, 246); border-right: 3px solid rgb(209, 240, 246); padding: 20px;">
        <div>
            <!-- header -->
            <p>Check out ZSDynamics page</p>
            <span>
                <a href="https://www.zsdynamics.com/home">Home</a>
                <a href="https://www.zsdynamics.com/about">About</a>
                <a href="https://www.zsdynamics.com/portfolio">Portfolio</a>
            </span>
            <h4 style="text-align: end; opacity: .5;"><em>"From data chaos to strategic clarity"</em></h4>
            <hr>
        </div>
        <div>
            <h1 style="background-color: rgb(94, 125, 173); color: rgb(208, 208, 208)">
                Thanks for reaching out!
            </h1>
            <h2>
                Hello {{ name }},
            </h2>
            

            <br>
        </div>
        <div style="margin:auto; width: 50%; background-color: rgb(60, 110, 150); border-radius: 20px; padding: 5%;">
            <h1>Hello</h1>
        </div>

        <a href='https://www.zsdynamics.com/unsubscribe/{{ name }}/{{ email }}'>
            Unsubscribe
        </a>
</body>

</html>