{% extends "layout.html" %}
{% from 'marcos/general.html' import testimonials %}
{% from 'marcos/project_marcos.html' import project_card %}
{% block content %}
<section>
  <div class="container mt-5">
    <div class="row">
      <div class="col text-start">
        <h1 class="display-1" data-aos="fade">Portfolio</h1>
      </div>
      <hr>

      {% for proj in projects_list %}

          {{ project_card(proj) }}
          <hr class="mx-auto w-75">

      {% endfor %}
    </div>
  </div>




</section>



{% endblock content %}