{% extends "layout.html" %}
{% from "marcos/svgs.html" import main_logo %}

{% block og_url %}
<meta property="og:url" content="https://www.zsdynamics.com/home">
{% endblock %}



{% block content %}

<div class="container">
{% if resubscribing == True %}
     
    <div class="row">
        <div class="col-12 col-lg-6 text-center ">
            <h1 class="m-4 fw-light">Welcome Back To</h1>
            <a href="{{ url_for('main.home') }}">
            <img src="../static/images/emailbanner_logo.png" alt="ZS Dynamics">
        </a>
        </div>
        <div class="col-12 col-lg-6 text-center mt-5">
            <h3>I'm glad you're sticking with us.</h3>
            <h6 class="diplay-6">Take a look at what you can do with ZSDynamics</h6>
            <div class="d-none d-sm-flex gap-3 justify-content-evenly">

                <a class="btn btn-outline-info" href="{{ url_for('services.data_analytics') }}">Data Analytics</a>
                <a class="btn btn-outline-info" href="{{ url_for('services.front_end') }}">User Interface Development</a>
                <a class="btn btn-outline-info" href="{{ url_for('services.back_end') }}">Back-end Engineering</a>
            </div>

            <div class="d-sm-none d-flex flex-column gap-3 justify-content-evenly">
                <a class="btn btn-outline-info" href="{{ url_for('services.data_analytics') }}">Data Analytics</a>
                <a class="btn btn-outline-info" href="{{ url_for('services.front_end') }}">User Interface Development</a>
                <a class="btn btn-outline-info" href="{{ url_for('services.back_end') }}">Back-end Engineering</a>
            </div>


        </div>
    </div>
   


{% else %}

    
    <div class="row">
        <div class="col-12 col-lg-6 text-center ">
            <h1 class="m-4 fw-light">Welcome To</h1>
            <a href="{{ url_for('main.home') }}">
                <img src="../static/images/emailbanner_logo.png" alt="ZS Dynamics">
            </a>
        </div>
        <div class="col-12 col-lg-6 text-center mt-5">
            <h3>A Welcome Basket Should Be Arriving To Your Email Momentarily</h3>
            <p>In the meantime...</p>
            <h6 class="diplay-6">Take a look at what you can do with ZSDynamics</h6>
            <div class="d-none d-sm-flex gap-3 justify-content-evenly">

                <a class="btn btn-outline-info" href="{{ url_for('services.data_analytics') }}">Data Analytics</a>
                <a class="btn btn-outline-info" href="{{ url_for('services.front_end') }}">User Interface Development</a>
                <a class="btn btn-outline-info" href="{{ url_for('services.back_end') }}">Back-end Engineering</a>
            </div>

            <div class="d-sm-none d-flex flex-column gap-3 justify-content-evenly">
                <a class="btn btn-outline-info" href="{{ url_for('services.data_analytics') }}">Data Analytics</a>
                <a class="btn btn-outline-info" href="{{ url_for('services.front_end') }}">User Interface Development</a>
                <a class="btn btn-outline-info" href="{{ url_for('services.back_end') }}">Back-end Engineering</a>
            </div>


        </div>
    </div>
   
{% endif %}
    
</div>
{% endblock %}